@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear; 
}
body
{
    margin: 0;
    padding: 0;
}
.header 
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 9%;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
}

.header .logo {
    margin-right: auto;
    font-size: 1.5rem;
    color: #10221b;
    font-weight: bolder;
}

.header .navbar a {
    margin-left: 2rem;
    font-size: 1rem;
    color: #10221b;
}
.header .navbar a:hover {
    color: #219150;
}

.Header
{
    width: 100%;
    height: 17rem;
    background-image: url(../images/36.png);
}

.Title
{
    width: 20rem;
    height: 15rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 10rem;
}
.Title h2
{
    color: white;
}

.About
{
    width: 100%;
    height: auto;
}

.about_container
{
    width: 100%;
    height: 5rem;
    background-color: rgb(247,247,247);
}
.about_container p
{
    padding: 1.5rem 0 0 3rem;
    font-size: 1.5rem;
}
.about_container_1
{
    width: 100%;
    height: 60rem;
}
.about_content
{
    width: 90%;
    height: 95%;
    margin: 0 auto;
}
.about_container_left
{
    width: 30%;
    height: 100%;
    float: left;
}
.container_left_1
{
    width: 100%;
    height: 26.5rem;
    
}

.container_left_1 h3
{
    font-size: 1.5rem;
}
.container_left_1 .menu
{
    margin-top: 1.5rem;
    border: 1px solid rgb(103, 103, 81);
    width: 80%;
    height: 18.5rem;
    background-color: rgb(247,247,247);
}

.menu p
{
    border-bottom: 1px solid;
    padding: 1.5rem 0 1.5rem 1rem;
}
.menu a
{
    color: black;
}
.container_left_2
{
    width: 100%;
    height: 30.5rem;

}
.container_left_2 h3
{
    font-size: 1.5rem;
}
.product_list 
{
    border: 1px solid;
    list-style: none;
    height: 28.3rem;
    background-color:rgb(247,247,247);
    width: 95%;
}
.product_title 
{
    width: 15rem;
    height: 5rem;
    text-align: center;
    margin: -6rem 1rem 0 6rem;
}
.product_list li
{
    border-bottom: 1px solid;
    padding: 0.4rem 0 0.9rem 0 ;
}
.product_title span
{
    text-decoration: underline;
}
.about_container_right
{
    width: 70%;
    height: 100%;
    float: right;
}
.grid_container
{

    display: grid;
    grid-template-columns: 255px 255px 255px ;
    width: 90%;
    height: 55rem;
    margin: 0 auto;
}
.grid_container .product_small
{
    border: 1px solid rgb(138, 138, 133);
    width: 100%;
    height: 23rem;

}
.box_img img
{
    width: 15.8rem;
    height: 14.3rem;
    object-fit: cover;
}

.box_text
{
    width: 15.8rem;
    height: 8rem;
    text-align: center;
    padding: 1.5rem 0 0 0;
}
.box_text b
{
    font-size: 1.2rem;
}
.box_text h4
{
    text-decoration: underline;
}
.box_text .bton
{
    width: 7rem;
    height: 3rem;
    border: 1px solid rgb(120, 120, 117);
}
.footer {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/footer-bg.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 1.3rem;
    padding: 4rem 0 0 4rem;
    color: #fff;
  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 0.9rem;
    color: #fff;
    padding: 0.5rem 0 0.5rem 4rem;
  }
  
  .footer .box-container .box a i {
    color: #219150;
    padding-right: .5rem;
  }
  
  .footer .box-container .box a:hover {
    color: #219150;
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  }
  
  .footer .credit {
    text-align: center;
    margin-top: 2.5rem;
    padding: 3rem;
    padding-top: 0.5rem;
    font-size: 1.3rem;
    color: #fff;
  }
  
  .footer .credit span {
    color: #219150;
  }